/* Universal Styles */
* {
    box-sizing: border-box;
}

:root {
    --dark: #2f4f4f;
    --light: #f5f5f5dc;
}

body {
    font-size: 16px;
    background-color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
    margin: 0;
    padding: 0;
}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--dark);
    flex-direction: row;
    flex-wrap: wrap;
}

header h1 {
    color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: italic;
    text-align: right;
    background-color: var(--light);
    padding: 10px 10px 10px 100px;
    position: relative;
    right: 20px;
}

/* Nav bar */
.top-nav {
    padding-top: 50px;
    margin-right: 50px;
    float: right;
    justify-content: right;
    align-items: center;
}

.top-nav a:hover {
    background-color: var(--light);
    color: var(--dark);  
}

.top-nav a {
    color: #ffff;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-decoration: none;
}


/* Hero Banner */
.hero-banner {
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url(../images/01-brickwall.jpg), linear-gradient(#f3e8e8ea, #00000080);
    background-position: center;
    background-size: cover;
    height: 200px;
}

.hero-banner h2 {
    text-align: right;
    margin-bottom: 100px;
    margin-left: 1px;
    background-color: #667761;
    border-radius: 30px;
    color: var(--light);
    font-family: 'Raleway', sans-serif; 
    font-weight: 100px;
    padding: 10px;
}
/* Image on Hero Banner */
img {
    display: flex;
    height: 200px;
    padding: 0;
    border-radius: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Main Content */
main {
    max-width: 100%;

}

p {
    margin: 0;
    text-align: center;
  
}

h2 {
    text-align: center;
    margin: 0;
}


.content {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 50px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}


.content h2 {
    display: flex;
    background-color: #667761;
    padding: 0px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    flex: none;
    text-align: center;
    align-items: center;
    
}

.content p {
    margin-bottom: 20px;
}

#about-me {
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    display: block;
}


#projects {
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    display: flex;
    align-items: flex-end;
}

#projects img {
    width: 150px;
    height: 150px;
}

#resume {
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
}

#resume img {
    width: 150px;
    height: 150px;
    text-align: center;
}

#contact {
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

#contact a {
    padding: 10px;
    align-items: center;
    text-decoration: none;
    color: var(--light);
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

#contact a:hover {
    background-color: var(--light);
    color: var(--dark);  
}


/* Footer */
footer {
    background-color: var(--dark);
    text-align: center;
    color: var(--light);
}


  @media screen and (max-width: 768px) {
    header, main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;}

    
    }